
@model ProjetoBanco.MVC.ViewModels.AgenciaViewModel
<div class="row" id="divAgenciasEditaveis" >
    <table id="tlbAgenciasEditaveis" class="striped responsive-table centered">
        <thead>
            <tr>
                <th>Agencia</th>
                <th>Alterar</th>
            </tr>
        </thead>
        <tbody id="tbdClientesConta">
            @if (!Model.agencias.Any() || Model.agencias.Count() != 0)
            {
                foreach (var ag in Model.agencias)
                {
                    <tr id=@ag.agencia>
                        <td>@ag.agencia</td>
                        <td>
                            <button type="button" class="modal-action modal-close btn green btn-small" id="btnAgenciaEditavel">
                                <i class="material-icons">edit_box</i>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Nenhum Registro encontrado.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (ViewBag.erros != null)
{
    <div class="row divErroNaOperacao">
        <div class="col s12">
            <h6>@ViewBag.erros</h6>
        </div>
    </div>
}
<div class="row" id="divAgenciaEditavel">
    <div class="col s10">
        <div class="row divErroNaOperacao">
            <div class="col s12">
                <h6 class="erroOperacao"></h6>
            </div>
        </div>

        <div class="row divSucessoNaOperacao">
            <div class="col s12">
                <h6 class="sucessoOperacao"></h6>
            </div>
        </div>

        <h6>Agência</h6>
            <hr />
            <div class="row">
                <h6 class="col s6">Banco:</h6>
                <h6 class="col s6" id="banco"></h6>
            </div>
            <div class="row">
                <h6 class="col s6">Agencia:</h6>
                <h6 class="col s6" id="numAgencia"></h6>
            </div>
        @using (Ajax.BeginForm("UpdateAgencia", "Agencia", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "sucesso",
            OnFailure = "erro(xhr)",
            OnBegin = "progresso",
            OnComplete = "fim"
        }))
        {
            @Html.ValidationSummary(true)
            <div class="row">
                <input type="hidden" id="agenciaEditavel" name="agencia" />
                <input type="checkbox" id="ativo" name="ativo" checked />
                <label for="ativo">Ativo</label>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="atualizaAgencia">
                    Alterar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        }
    </div>
</div>
<script>
    function sucesso() {
        $(".divErroNaOperacao").hide();
        $(".divSucessoNaOperacao").fadeIn(3000);
        $(".sucessoOperacao").html("<i class='tiny material-icons'>check_circle</i> Agência Alterada com Sucesso!");
    }
    function erro(xhr) {
        $(".sucessoOperacao").hide();
        $(".divErroNaOperacao").fadeIn(3000);
        $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }
    $(document).ready(function () {
        $("#tlbAgenciasEditaveis").dataTable({
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Exibir _MENU_",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }

        });
        $(".container").addClass("diminuicao40");
        $("#divAgenciaEditavel").hide();
        $("#btnAgenciaEditavel").click(function () {
            debugger;
            $("#divAgenciasEditaveis").hide();
            var agencia = $(this).closest("tr").attr("id");
            if (agencia == "") agencia = null;
            $.ajax({
                type: "GET",
                url: "/Agencia/GetAgenciaByNum",
                data: {
                    numAg: agencia
                },
                success: function (dados) {
                    if (dados == "") {
                        $("#divAlterAgencia").show();
                        $("#agenciaEditavel").val("");
                        $("#banco").text("");
                        $("#numAgencia").text("");
                        alert("Ops! Agência não encontrada!");
                    }
                    else {
                        $("#agenciaEditavel").val(dados.agencia);
                        $("#banco").text(dados.banco);
                        $("#numAgencia").text(dados.agencia);
                        if (dados.ativo == 1) {
                            $("#ativo").prop('checked', true);
                            $("#ativo").val(true);
                        } else {
                            $("#ativo").prop('checked', false);
                            $("#ativo").val(false);
                        }
                        $("#divAgenciaEditavel").show();
                    }
                }, error() {
                    alert("Ops! algo deu errado!");
                }
            });
        });
    });
</script>