<div class="row" id="divDadosDaConta">
    <div class="row divErroNaOperacao">
        <div class="col s12">
            <h6 class="erroOperacao"></h6>
        </div>
    </div>
    <div class="col s12">
        @using (Ajax.BeginForm("Estorno", "Operacoes", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "sucesso",
            OnFailure = "erro(xhr)",
            OnBegin = "progresso",
            OnComplete = "fim"
        }))
        {
            <div class="row">
                <h5>Digite os Dados</h5>
                <hr/>
            </div>
            <div class="row">
                <div class="col s4">
                    <label class="col s12">Conta</label>
                    <input type="text" class="col s12 conta" name="conta" required>
                </div>
                <div class="col s4 ">
                    <label class="col s12">Agência</label>
                    <input type="text" class="col s12 agencia" name="agencia" required>
                </div>
                <div class="col s4">
                    <label class="col s12">Senha</label>
                    <input type="password" class="col s12" name="senha" required>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Estornar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        }
    </div>
</div>
<div id="opsRealizadas">
</div>
<script>
    function erro(xhr) {
        $(".divErroNaOperacao").fadeIn(3000);
        $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }

    function sucesso(response) {
        $(".container").removeClass("diminuicao40");
        $(".container").addClass("diminuicao60");
        $("#divDadosDaConta").slideUp(200);
        $("#opsRealizadas").html(response).slideDown(200);
        //window.location = "criaViewComOpsParaEstorno/" + { response };
    }
    $(document).ready(function () {
        $("#opsRealizadas").hide();
        $(".container").addClass("diminuicao40");
    });
</script>
