@model ProjetoBanco.MVC.ViewModels.OperacaoViewModel
<div class="row">
    <div class="col s12">
        <div class="row divErroNaOperacao">
            <div class="col s12">
                <h6  class="erroOperacao"></h6>
            </div>
        </div>

        <div class="row divSucessoNaOperacao">
            <div class="col s12">
                <h6 class="sucessoOperacao"></h6>
            </div>
        </div>
        <h5>Cadastro de Operação</h5>
        <hr />
       @using (Ajax.BeginForm("CreateOperacao", "Operacoes", null, new AjaxOptions
       {
           HttpMethod = "POST",
           OnSuccess = "sucesso",
           OnFailure = "erro(xhr)",
           OnBegin = "progresso",
           OnComplete = "fim"
       }))
       {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            {
                <div class="row">
                    <div class="col s12 ">
                        <label for="descricao" class="col s12">Operacão</label>
                        @Html.TextBoxFor(o=>o.descricao, new { @class = "col s12" })
                    </div>
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light right" type="submit" name="CadastraOperacao">
                        Cadastrar
                        <i class="material-icons">send</i>
                    </button>
                </div>
            }
        }
    </div>
</div>
<script>
    function sucesso() {
        debugger;
        $(".divSucessoNaOperacao").fadeIn(3000);
        $(".sucessoOperacao").html("<i class='tiny material-icons'>check_circle</i> Operação cadastrada com Sucesso!")
    }
    function erro(xhr) {
        debugger;
        $(".divErroNaOperacao").fadeIn(3000);
        $("#conta").val("");
        $("#agencia").val("");
        $("#senhaCli").val("");
        $("#erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }
    $(document).ready(function () {
        $(".container").addClass("diminuicao40");
        $("form").validate({
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                descricao: {
                    required: true,
                    maxlength: 200
                }
            },
            messages: {
                descricao: {
                    required: "O campo saque é Obrigatório! Digite-O",
                    maxlength: "O campo saque deve conter no máximo 200 caracteres!"
                }
            }
        });
    });
</script>



