<div class="row">
    <div class="col s12">
        <h5>@TempData["menssagem"]</h5>
        <hr/>
        <h6>
            Deseja Realizar Outra Operação?
            <a href=@TempData["outraOp"] class="btn">Sim</a>
            @Html.ActionLink("Não", "Logout", "Usuarios",null ,new {@class="btn"})
        </h6>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".container").addClass("diminuicao50");
    });
</script>


