<div class="row">
    <div class="col s6">
        @if (ViewBag.erro == null)
        {
            <h4>
                Seu saldo é de:
                @ViewBag.saldo;
            </h4>
        }
        else
        {
            <h5>
                @ViewBag.erro;
            </h5>
            <div class="col s6">
                @Html.ActionLink("Realizar outra Operacao", "Saldo", "Operacoes")
            </div>
        }
    </div>
</div>
