<div class="row Operacoes">
    <div class="row">
        @if (Convert.ToInt32(TempData["operacao"])==1)
        {
            @Html.Partial("Deposito")
        }
        @if (Convert.ToInt32(TempData["operacao"]) == 2)
        {
            @Html.Partial("Saque")
        }
        @if (Convert.ToInt32(TempData["operacao"])==3)
        {
            @Html.Partial("Saldo")
        }
        @if (Convert.ToInt32(TempData["operacao"]) == 4)
        {
            @Html.Partial("Transferencia")
        }
    </div>
</div>