@model ProjetoBanco.MVC.ViewModels.TransacaoViewModel
<div class="col s12"id="dadosContaCliente">
    @using (Ajax.BeginForm("Saldo", "Operacoes", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "sucesso",
        OnFailure = "erro(xhr)",
        OnBegin="progresso",
        OnComplete="fim"
    }))
    {
        @Html.ValidationSummary(true)
        {
            <div class="row divErroNaOperacao">
                <div class="col s12">
                    <h6 class="erroOperacao"></h6>
                </div>
            </div>

            <h5>Saldo</h5>
            <hr />
            <div class="row">
                <div class="col s6 ">
                    <label class="col s12" for="conta">Conta</label>
                    @Html.TextBoxFor(t => t.conta, new { @class = "col s12 conta",@required=true})
                </div>
                <div class="col s6 ">
                    <label class="col s12" for="agencia">Agência</label>
                    @Html.TextBoxFor(t => t.agencia, new { @class = "col s12 agencia", @required = true})
                </div>

            </div>
            <div class="row">
                <div class="col s6 ">
                    <label class="col s12" for="senhaCli">Senha</label>
                    @Html.TextBoxFor(t => t.senhaCli, new { @class = "col s12", @type = "password",@required = true })
                </div>
            </div>

            <div class="row">
                <div class="col s6 ">
                    <button class="btn waves-effect waves-light" type="submit" name="ConsultaSaldo">
                        Consultar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        }
    }
</div>
<div class="row" id="exibeSaldo">
    <div class="col s12">
            <h6 id="clienteConta"></h6>
            <hr />
            <h5 id="saldoCliente">
            </h5>
    </div>
</div>
<script>
    function sucesso(response) {
        $("#dadosContaCliente").hide();
        $("#exibeSaldo").fadeIn(3000);
        $("#clienteConta").text("Cliente: " + response.nome + " / " + "Conta:" + response.conta);
        $("#saldoCliente").text("Seu saldo é de R$ "+response.valor+" Reais.")
    }
    function erro(xhr) {
        $(".divErroNaOperacao").fadeIn(3000);
        $("#conta").val("");
        $("#agencia").val("");
        $("#senhaCli").val("");
        $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }
    $(document).ready(function () {
        $("#exibeSaldo").hide();
        $(".container").addClass("diminuicao50");
    });
</script>
