@model ProjetoBanco.MVC.ViewModels.TransacaoViewModel
<script src="~/Scripts/materialize/SisBankValidate.js"></script>
<div id="divTranferencia">
    <div class="row">
        <div class="row">
            <div class="col s12">
                <div class="row divErroNaOperacao">
                    <div class="col s12">
                        <h6 class="erroOperacao"></h6>
                    </div>
                </div>
                <h5>Transferência</h5>
                <hr />
            </div>
        </div>
        @using (Ajax.BeginForm("Transferencia", "Operacoes", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "sucesso",
            OnFailure = "erro(xhr)",
            OnBegin = "progresso",
            OnComplete = "fim"
        }, new {@id="formTransferencia"}))
        {
            <input type="hidden" name="op" value="4" />
            <div class="col s12 ">
                <div class="row">
                    <div class="col s6 border-right">
                        <div class="row">
                            <div class="col s12">
                                <h6>De</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s5 ">
                                <label for="agenciaCont1" class="col s12 agencia">Agência</label>
                                <input type="text" name="agenciaCont1" class="col s12 agencia" />
                            </div>
                            <div class="col s5 ">
                                <label for="numCont1" class="col s12 conta">Conta</label>
                                <input type="text" name="numCont1" class="col s12 conta" id="numCont1" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s5 ">
                                <label for="valorCont1" class="col s12">Valor</label>
                                <input type="text" name="valor" pattern="[0-9]+$" class="col s12 money" />
                            </div>
                            <div class="col s5 ">
                                <label for="senha" class="col s12 ">Senha</label>
                                <input type="password" name="senha" class="col s12" />
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <div class="col s12">
                                <h6>Para</h6>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col s5 ">
                                <label for="agenciaCont2" class="col s12 agencia">Agência</label>
                                <input type="text" name="agenciaCont2" class="col s12 agencia" />
                            </div>
                            <div class="col s6 ">
                                <label for="numCont2" class="col s12 conta">Conta</label>
                                <input type="text" name="numCont2" class="col s12 conta" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="Transferir">
                        Transferir
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div id="divConfirmTransferencia">    
</div>
<script>
    function sucesso(response) {
        $("#divTranferencia").slideUp(200);
        $("#divConfirmTransferencia").html(response).slideDown(200);
    }
    function erro(xhr) {
        $(".divSucessoNaOperacao").hide();
        $(".divErroNaOperacao").fadeIn(3000);
        $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }
    $(document).ready(function () {
        $("#divConfirmTransferencia").hide();
        $("#formTransferencia").validate({
            submitHandler: function (form) {
                $(form).submit();
            },
            rules: {
                numCont1: {
                    required: true,
                    maxlength: 20
                },
                agenciaCont1: {
                    required: true
                }
            },
            messages: {
                numCont1: {
                    required: "O campo N° Conta é Obrigatório! Digite-O",

                    maxlength: "O campo num deve conter no máximo {0} caracteres!"
                },
                agenciaCont1: {
                    required: "O campo senha é Obrigatório! Digite-O",
                    mainlength: "O campo Senha deve conter no mínimo {0} caracteres!",
                    maaxlength: "O campo Senha deve conter no máximo {0} caracteres!"
                }
            }
        }).resetForm();
        //$("form").validate({
        //    submitHandler: function (form) {
        //        form.submit();
        //    },
        //    rules: {
        //        agenciaCont1: {
        //            required: true
        //        },
        //        numCont1: {
        //            required: true
        //        },
        //        senha: {
        //            required: true,
        //            minlength: 8
        //        },
        //        valor: {
        //            required: true
        //        },
        //        agenciaCont2: {
        //            required: true
        //        },
        //        numCont2: {
        //            required: true
        //        }
        //    },
        //    messages: {
        //        agenciaCont1: {
        //            required: "O campo agência é obrigatório! Digite-o"
        //        },
        //        numCont1: {
        //            required: "O campo Conta é obrigatório! Digite-o"
        //        },
        //        senha: {
        //            required: "O campo senha é obrigatório! Digite-o",
        //            minlength: "A senha deve conter {0} digitos"
        //        },
        //        valor: {
        //            required: "O campo Valor é obrigatório! Digite-o"
        //        },
        //        agenciaCont2: {
        //            required: "O campo Conta é obrigatório! Digite-o"
        //        },
        //        numCont2: {
        //            required: "O campo senha é obrigatório! Digite-o"
        //        }
        //    }
        //});
    });
</script>
