@model IEnumerable<ProjetoBanco.MVC.ViewModels.ContaClienteViewModel>
<div class="row" id="dadosContaCliente">
    <div class="row divErroNaOperacao">
        <div class="col s12">
            <h6 class="erroOperacao"></h6>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Informe os Dados para recuperar a conta a ser alterada</h5>
            <hr />
        </div>
        <div class="row" id="divContaEditaveis">
            <table id="tlbContaEditaveis" class="striped responsive-table centered">
                <thead>
                    <tr>
                        <th>Clientes</th>
                        <th>Conta</th>
                        <th>Alterar</th>
                    </tr>
                </thead>
                <tbody id="tbdClientesConta">
                    @if (Model.Any() || Model.AsEnumerable().ElementAt(0).clientes.Count() != 0)
                    {
                        foreach (var contaCli in Model)
                        {
                            <tr id=@contaCli.contaId>
                                <td>

                                        @contaCli.nome
                                        
                                </td>
                                <td>
                                    @contaCli.conta
                                </td>
                                <td>
                                    <button type="button" class="modal-action modal-close btn green btn-small getConta">
                                        <i class="material-icons">edit_box</i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Nenhum Registro encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" id="divDadosDaConta">
    <div class="row divErroNaOperacao">
        <div class="col s12">
            <h6 class="erroOperacao"></h6>
        </div>
    </div>

    <div class="row divSucessoNaOperacao">
        <div class="col s12">
            <h6 class="sucessoOperacao"></h6>
        </div>
    </div>
    <div class="col s8">
        <h5 id="contaCli"></h5>
        <hr />
        @using (Ajax.BeginForm("UpdateConta", "Contas", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "sucesso",
                OnFailure = "erro(xhr)",
                OnBegin = "progresso",
                OnComplete = "fim"
            }))
            {
            <div class="row">
                <input type="hidden" name="conta" id="contaAlteracao" />
                <div class="row">
                    <div class="col s12">
                        <h6 class="col s4">Cliente(s):</h6>
                        <h6 id="nomeCli" class="col s8"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label class="col s12">Senha</label>
                        <input type="password" class="col s12" name="senha" id="senhaAlter" />
                    </div>
                    <div class="col s6">
                        <label class="col s12">Confirme a Senha</label>
                        <input type="password" class="col s12" name="confSenha" id="confSenhaAlter" />
                    </div>
                </div>
                <div class="row">
                    <div class="col s3 ">
                        <input type="checkbox" id="ativo" name="ativo" checked />
                        <label for="ativo">Ativo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" id="atualizaConta">
                    Alterar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        }
    </div>
</div>
<script>
    function sucesso() {
        $(".divErroNaOperacao").hide();
        $(".divSucessoNaOperacao").fadeIn(3000);
        $(".sucessoOperacao").html("<i class='tiny material-icons'>check_circle</i> Conta alterada com Sucesso!");
    }
    function erro(xhr) {
        $(".divSucessoNaOperacao").hide();
        $(".divErroNaOperacao").fadeIn(3000);
        $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }
    $(document).ready(function () {
        $("#tlbContaEditaveis").dataTable({
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Exibir _MENU_",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }

        });
        $(".container").addClass("diminuicao50");
        $("#divDadosDaConta").hide();
        $(".getConta").click(function () {
            debugger;
            var contaId = $(this).closest("tr").attr("id");
            $.ajax({
                type: "POST",
                url: "/Contas/GetConta",
                dataType: "Json",
                data: {
                    contaId: contaId
                },
                success: function (dados) {
                    $(".divErroNaOperacao").hide();
                    $("#contaAlteracao").val(dados.conta);
                    $("#senhaAlter").val(dados.senha);
                    $("#confSenhaAlter").val(dados.senha);
                    if (dados.ativo == 1) {
                        $("#ativo").prop('checked', true);
                        $("#ativo").val(true);
                    } else {
                        $("#ativo").prop('checked', false);
                        $("#ativo").val(false);
                    }
                    debugger;
                    $("#contaCli").text("Conta: " + dados.conta);
                    for (var i = 0; i < dados.Clientes.length; i++) {
                        $("#nomeCli").html(dados.Clientes[i].nome + "<br/>" + $("#nomeCli").text());
                    }
                    $("#dadosContaCliente").hide();
                    $("#divDadosDaConta").show();
                },
                error: function ajaxError(dados) {
                    $(".divErroNaOperacao").fadeIn(3000);
                    $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + dados.responseText);
                    $("#conta").val("");
                    $("#senha").val("");
                    $("#agencia").val("");
                }

            });
        });
        $("#ativo").change(function () {
            debugger;
            if ($("#ativo").is(':checked')) {
                $("#ativo").val(true);
            } else {
                $("#ativo").val(false);
            }
        });
    });
</script>