<div class="row" id="dadosContaCliente">
    <div class="row divErroNaOperacao">
        <div class="col s12">
            <h6 class="erroOperacao"></h6>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <h5>Informe os Dados para recuperar a conta a ser alterada</h5>
            <hr/>
        </div>
        <div class="row">
            <div class="col s4">
                <label class="col s12">Conta</label>
                <input type="text" class="col s12 conta" name="conta" id="conta">
            </div>
            <div class="col s4">
                <label class="col s12">Agência</label>
                <input type="text" class="col s12 agencia" name="agencia" id="agencia">
            </div>
            <div class="col s4">
                <label class="col s12">Senha</label>
                <input type="password" class="col s12" name="senha" id="senha">
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="button" id="getConta">
                Buscar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
<div class="row" id="divDadosDaConta">
    <div class="row divErroNaOperacao">
        <div class="col s12">
            <h6 class="erroOperacao"></h6>
        </div>
    </div>

    <div class="row divSucessoNaOperacao">
        <div class="col s12">
            <h6 class="sucessoOperacao"></h6>
        </div>
    </div>
    <div class="col s8">
        <h5 id="contaCli"></h5>
        <hr/>
        @using (Ajax.BeginForm("UpdateConta", "Contas", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "sucesso",
            OnFailure = "erro(xhr)",
            OnBegin = "progresso",
            OnComplete = "fim"
        }))
        {
            <div class="row">
                <input type="hidden" name="conta" id="contaAlteracao"/>
                <div class="row">
                    <div class="col s12">
                        <h6 class="col s4">Cliente(s):</h6>
                        <h6 id="nomeCli" class="col s8"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label class="col s12">Senha</label>
                        <input type="password" class="col s12" name="senha" id="senhaAlter"/>
                    </div>
                    <div class="col s6">
                        <label class="col s12">Confirme a Senha</label>
                        <input type="password" class="col s12" name="confSenha" id="confSenhaAlter"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3 ">
                        <input type="checkbox" id="ativo" name="ativo" checked/>
                        <label for="ativo">Ativo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" id="atualizaConta">
                    Alterar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        }
    </div>
</div>
<script>
    function sucesso() {
        $(".divErroNaOperacao").hide();
        $(".divSucessoNaOperacao").fadeIn(3000);
        $(".sucessoOperacao").html("<i class='tiny material-icons'>check_circle</i> Conta alterada com Sucesso!");
    }
    function erro(xhr) {
        $(".divSucessoNaOperacao").hide();
        $(".divErroNaOperacao").fadeIn(3000);
        $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }
    $(document).ready(function () {
        $(".container").addClass("diminuicao50");
        $("#divDadosDaConta").hide();
        $("#getConta").click(function () {
            $.ajax({
                type: "POST",
                url: "/Contas/GetConta",
                dataType: "Json",
                data: {
                    conta: $("#conta").val(),
                    senha: $("#senha").val(),
                    agencia: $("#agencia").val()
                },
                success: function (dados) {
                    debugger;
                    $("#contaAlteracao").val(dados.conta);
                    $("#senhaAlter").val(dados.senha);
                    $("#confSenhaAlter").val(dados.senha);
                    if (dados.ativo == 1) {
                        $("#ativo").prop('checked', true);
                        $("#ativo").val(true);
                    } else {
                        $("#ativo").prop('checked', false);
                        $("#ativo").val(false);
                    }
                    $("#contaCli").text("Conta: " + dados.conta);
                    for (var i = 0; i < dados.Clientes.length; i++) {
                        $("#nomeCli").text(dados.Clientes[i].nome + "/" + $("#nomeCli").text());
                    }
                    $("#dadosContaCliente").hide();
                    $("#divDadosDaConta").show();
                },
                error: function ajaxError(dados) {
                    $(".divErroNaOperacao").fadeIn(3000);
                    $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + dados.responseText);
                    $("#conta").val("");
                    $("#senha").val("");
                    $("#agencia").val("");
                }

            });
        });
        $("#ativo").change(function () {
            debugger;
            if ($("#ativo").is(':checked')) {
                $("#ativo").val(true);
            } else {
                $("#ativo").val(false);
            }
        });
    });
</script>