<div class="row" id="dadosContaCliente">
    <div class="col s6">
        <div class="row">
            <h5>Digite os Dados</h5>
            <hr />
        </div>
        <div class="row">
            <div class="col s4">
                <label class="col s12">Conta</label>
                <input type="text" class="col s12" name="conta" id="conta">
            </div>
            <div class="col s4">
                <label class="col s12">Agência</label>
                <input type="text" class="col s12" name="agencia" id="agencia">
            </div>
            <div class="col s4">
                <label class="col s12">Senha</label>
                <input type="text" class="col s12" name="senha" id="senha">
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="button" id="getConta">
                Buscar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s8">
        <h5 id="contaCli"></h5>
        <hr />
        <div class="row" id="divDadosDaConta">
            <div class="row">
                <div class="col s12">
                    <label>Clientes</label>
                    <label id="nomeCli" class="col s12"></label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label class="col s12">Senha</label>
                    <input type="password" class="col s12" name="senha"/>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label class="col s12">Confirme a Senha</label>
                    <input type="password" class="col s12" name="confSenha"/>
                </div>
            </div>
            <div class="row">
                <div class="col s3 ">
                    <input type="checkbox" id="ativo" name="ativo" checked/>
                    <label for="ativo">Ativo</label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#formDadosContaCliente").hide();
        $("#getConta").click(function () {
            $.ajax({
                type: "GET",
                url: "/Contas/GetConta",
                dataType: "Json",
                data: {
                    conta: $("#conta").val(),
                    senha: $("#senha").val(),
                    agencia: $("#agencia").val()
                },
                success: function (dados) {
                    debugger;
                    $("#contaCli").text("Conta: " + dados.conta);
                    for (var i = 0; i < dados.Clientes.length; i++) {
                        $("#nomeCli").text(dados.Clientes[i].nome + "/" + $("#nomeCli").text());
                    }
                    $("#dadosContaCliente").hide();
                    $("#formDadosContaCliente").show();
                },
                error: function ajaxError(dados) {
                    alert(dados.status + ' ' + dados.statusText);
                }

            });
        });
        $(document).on("click", ".removeCliente",
            function () {
                var id = $(this).closest("tr").attr("id");
                //faz a confirmação da exclusao do registro
                var apagar = confirm("Deseja excluir " + $(this).closest("tr").children("td:eq(0)").text());
                if (apagar) $(this).closest("tr").remove();
            });
        $("#addCliente").click(function () {
            $.ajax({
                type: "GET",
                url: "/Clientes/GetClienteByCpf",
                dataType: "Json",
                data: {
                    cpf: $("#cpfCli").val()
                },
                success: function (dados) {
                    var flag = false;
                    $("#tbdClientesConta").find("tr").each(function (index) {
                        if ($(this).attr("id") == dados.Id) {
                            flag = true;
                        }
                    });
                    if (flag == true) alert("Este cliente ja faz parte desta conta!")
                    else {
                        cancelarInclusao = confirm("Deseja incluir " + dados.nome + " Na conta?");
                        if (cancelarInclusao) {
                            $("#tbdClientesConta").append("<tr id=" +
                                dados.Id +
                                "><td>" +
                                dados.nome +
                                "</td>" +
                                "<td>  " +
                                "<button class='btn-floating btn-large waves-effect waves-light red removeCliente'type='button'>" +
                                "<i class='material-icons'>remove_circle_outline</i>" +
                                "</button>" +
                                "</td>" +
                                "</tr>");
                        } else {
                            alert("Cliente não incluido");
                        }
                    }
                }, error() {

                }
            });
        });
        $("#atualizaConta").click(function () {
            var clientes = [];
            debugger;
            $("#tbdClientesConta").find("tr").each(function (index) {
                clientes.push($(this).attr("id"));
            });
            $.ajax({
                type: "POST",
                url: "/Contas/UpdateContaCliente",
                data: {
                    clientes: clientes
                },
                dataType: "Json",
                success: function () {

                }
            });
        });
    });
</script>