@model ProjetoBanco.MVC.ViewModels.CombosContaViewModel
@{
    ViewBag.Title = "CreateConta";
}

<h5>Cadastro de Conta</h5>
<div class="row">
    <div class="col s6">
        <hr>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            {
                <div class="row">
                    <div class="col s6">
                        <label class="col s12" for="ddlAgencias">Agência</label>
                        @Html.DropDownList("ddlAgencias", new SelectList(@Model.Agencias, "agencia", "agencia"), "Selecione", new { @class = "col s10" })
                    </div>
                    <div class="col s6">
                        <label class="col s12" for="num">N° Conta</label>
                        <input type="text" class="col s12" id="num" name="num" />
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <label class="col s12" for="senha">Senha</label>
                        <input type="password" class="col s12" id="senha" name="senha" />
                    </div>
                    <div class="col s6">
                        <label class="col s12" for="conf_senha">Confirme sua Senha</label>
                        <input type="password" class="col s12" id="conf_senha" name="conf_senha" />
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <label class="col s12">Tipo de Conta</label>
                        <p>
                            <input class="with-gap col s1" value="c" name="tipoConta" type="radio" id="corrente" checked />
                            <label for="corrente" class="col s5">C. Corrente</label>
                        </p>
                        <p>
                            <input class="with-gap col s1" name="tipoConta" value="p" type="radio" id="poupanca" />
                            <label for="poupanca" class="col s5">C. Poupança</label>
                        </p>
                    </div>
                </div>

                <!-- Modal Trigger -->
                @*<button id="abremodal" type="button">abre</button>*@
                <div class="row">
                    <label class='col s12'>Vincular Clientes</label>
                    <div class="col s6">
                        <button class="waves-effect waves-light modal-trigger btn"type="button" href="#modalCientesConta" id="buscaClienetes">
                            <i class="large material-icons">add_box</i>
                        </button>

                    </div>
                </div>

               
                <!-- Modal Structure -->
                <div id="modalCientesConta" class="modal">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12">
                                <table id="clientesConta" class="striped responsive-table centered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>CPF</th>
                                            <th>RG</th>
                                            <th>Fone</th>
                                            <th>Bairro</th>
                                            <th>Rua</th>
                                            <th>Num</th>
                                            <th>Incluir</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbdClientesConta">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="clientesSelecionados">
                    <div class="col s12">
                        <table class="striped responsive-table centered">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Remover</th>
                            </tr>
                            </thead>
                            <tbody id="clientesSelecionadosConta">
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light right" type="submit" name="action">
                        Cadastrar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            }
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#clientesSelecionados").hide();
        $('.modal').modal({ dismissible: false });
        $(document).on("click", ".btnClienteConta", function () {
            var id = $(this).closest('tr').attr('id');
            var nome = $('td#nome' + id).text();
            var cpf = $('td#cpf'+id).text();
            $("#clientesSelecionadosConta").append("<tr>" +
                    "<input type='hidden' name='ClientesSelecionados' value='"+id+"'/>"+
                    "<td>"+ nome +"</td>" +
                    "<td>" + cpf + "</td>" +
                    "<td>" +
                        "<button type='button' class='btnClienteContaRemove modal-action modal-close btn red'>" +
                            "<i class='material-icons '>remove</i>" +
                        "</button>" +
                    "</td>" +
                "</tr>");
            $("#clientesSelecionados").show();
        });
        $(document).on("click",".btnClienteContaRemove ",function() {
            $(this).closest('tr').remove();
        });
        $("#clientesConta").dataTable({
            language:{
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Exibir _MENU_",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            }
                }
     
        });
        //função que busca cidades pelo id do estado e seta no combo cidades
        $("#buscaClienetes").click(function () {
            $.ajax(
                {
                    type: 'GET',
                    url: "/Clientes/GetAllClientes",
                    dataType: 'json',
                    cache: false,
                    async: true,
                    success: function (data) {
                        $("#tbdClientesConta").empty();
                        $.each(data, function (key, value) {
                            $("#tbdClientesConta").append("<tr id=" + value.Id + ">" +
                                    "<td id='nome"+value.Id+"'>" + value.nome + "</td>" +
                                    "<td id='cpf"+value.Id+"'>" + value.cpf + "</td>" +
                                    "<td>" + value.rg + "</td>" +
                                    "<td>" + value.fone + "</td>" +
                                    "<td>" + value.bairro + "</td>" +
                                    "<td>" + value.rua + "</td>" +
                                    "<td>" + value.num + "</td>" +
                                    "<td><button type='button' class='btnClienteConta modal-action modal-close btn green'>" +
                                        "<i class='material-icons '>add_box</i>" +
                                        "</button>"+
                                    "</td>" +

                                "</tr>");
                        });
                    }, error(e) {
                        alert("Erro ao Consultar Clientes!");
                    }

                });
        });
        $("form").validate({
            submitHandler: function (form) {
                form.submit();
            },
            rules: {
                nome: {
                    required: true,
                    minlength: 5,
                    maxlength: 100
                },
                cpf: {
                    required: true
                },
                rg: {
                    required: true
                },
                fone: {
                    required: true
                },
                bairro: {
                    required: true
                },
                rua: {
                    required: true
                },
                num: {
                    required: true
                },
                nivel: {
                    required: true
                },
                cidadeId: {
                    required: true
                }
            },
            messages: {
                nome: {
                    required: "O campo Nome é Obrigatório! Digite-O",
                    minlength: "O campo Nome deve conter no mínimo 5 caracteres!",
                    maxlength: "O campo Nome deve conter no máximo 100 caracteres!"
                },
                cpf: {
                    required: "O campo CPF é Obrigatório! Digite-O"
                },
                rg: {
                    required: "O campo RG é Obrigatório! Digite-O"
                },
                fone: {
                    required: "O campo Fone é Obrigatório! Digite-O"
                },
                bairro: {
                    required: "O campo Bairro é Obrigatório! Digite-O"
                },
                rua: {
                    required: "O campo Rua é Obrigatório! Digite-O"
                },
                num: {
                    required: "O campo N° é Obrigatório! Digite-O"

                },
                nivel: {
                    required: "O campo Nível é Obrigatório! Digite-O"

                },
                cidadeId: {
                    required: "Selecione a cidade!"
                }

            }
        });
    });
</script>
