body {
    width: 80%;
    margin: auto;
}
.nav-wrapper {
    background-color: #000000;
}
.error {
    color: #ff0000 !important;
    position: static !important;
    display: block;
}
.login {
    width:350px;
    padding: 10px;
    position:absolute;
    top:20%;
    left:40%;
    margin-top:-50px;
    margin-left:-50px;
}
.page-footer {
    z-index: 100;
    position: fixed;
    width: 80%;
    bottom:0;
    height: 80px;
    text-align: center;
    padding-right: 20px;
    box-shadow: 5px 5px 25px  grey;

}
nav {
    z-index: 100;
    position: fixed;
    width: 80%;
    top:0;
    box-shadow: 5px 5px 25px  grey;
}
.margim-top {

    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 5px 5px 25px  grey;
    border-radius: 5px;
}
.border-right {
    border-right:1px dashed #000000;
}
/*.modal {
    padding:    30%;
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        5%;
    left:       0;
    height:     100%;
    width:      80%;
    background: rgba( 0, 0, 0, .6 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
 enquanto estiver carregando, o scroll da página estará desativado 
body.loading {
    overflow: hidden;   
}

 a partir do momento em que o body estiver com a classe loading,  o modal aparecerá 
body.loading .modal {
    display: block;*/

#menuPrincipal a{
    left: 50px;
    display: block;
    width: 200px;
    height: 80px;
    text-align: center;
    margin-bottom: 5px;
}
.aumento {
    width: 100% !important;
}
.diminuicao30 {
    width: 30%;
}
.diminuicao40 {
    width: 40%;
}
.diminuicao50 {
    width: 50%;
}
.btn {
    background-color: #42a5f5;
}