body {
    width: 80%;
    margin: auto;
}
.nav-wrapper {
    background-color: #000000;
}
.error {
    color: #ff0000 !important;
}
.login {
    width:350px;
    padding: 10px;
    position:absolute;
    top:20%;
    left:40%;
    margin-top:-50px;
    margin-left:-50px;
}
